@font-face {
  font-family: Norse-Bold;
  src: url(./assets/fonts/Norse-Bold.otf);
}

body {
  margin: 0;
  padding: 0;
}

h3 {
  padding: 15px;
}

.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.splash {
  flex: 1;
  height: 100vh;
  background-image: url(./assets/background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Norse-Bold, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: 80%;
}

.logo-text {
  font-size: 6rem;
}

.content {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(253, 253, 253);
}

.desc {
  flex: 0.5;
  width: 80%;
  padding: 25px;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  height: max-content;
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(214, 214, 214, 0.4),
    0px -1px 10px 0px rgba(214, 214, 214, 0.4);
}

.account-controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
}

.form-input {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

form {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

label {
  font-size: 14px;
  color: rgb(73, 73, 73);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  outline: none;
  border: 0.5px solid #e5e7eb;
  border-radius: 5px;
  width: 50%;
  height: 20px;
}

input:invalid {
  border-color: red;
}

input:focus {
  border-color: blue;
}

.btn {
  box-shadow: 0px 10px 5px -7px #276873;
  background-color: #596d48;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  width: 200px;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d5f3e;
}

.login {
  text-decoration: none;
  color: #596d48;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
}
